<html>
    <head>
        <title>Angular 1.5 App</title>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="src/app.js"></script>
        <script src="src/services/users.service.js"></script>
        <script src="src/controllers/users-list.controller.js"></script>
        <script src="src/components/welcome-greeting.component.js"></script>
        <script src="src/directives/counter.directive.js"></script>
    </head>
    <body ng-app="AppModule">
        My Angular app
        <div ng-controller="UsersListController as ctrl">
            <h1 ng-bind="ctrl.title"></h1>
            <ul>
                <li ng-repeat="user in ctrl.users" ng-bind="user" ng-click="ctrl.selectUser(user)"></li>
            </ul>

            <h2>Selected User</h2>
            {{ctrl.selectedUser}}
            <welcome-greeting ng-if="ctrl.selectedUser" user="ctrl.selectedUser" background="blue" subtext="ctrl.subtext" ongreetingnameclicked='ctrl.greetingNameClicked()'></welcome-greeting>
        </div>

        <counter></counter>
    </body>
</html>